<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="imageGround" value="C:\\Users\\Evolution\\images" />
    <add key="reproductiontype" value="0" />
    <!--0=Mitosis,1=Asexual,2=Sexual-->
  </appSettings>
  <connectionStrings><add name="EvolutionEntities" connectionString="metadata=res://*/DAL.evolucion.csdl|res://*/DAL.evolucion.ssdl|res://*/DAL.evolucion.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-26M7VNU\SQLEXPRESS;Initial Catalog=DATA.MDF;integrated security=True;connect timeout=30;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>