<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="imageGround" value="C:\\Users\\Evolution\\images" />
    <add key="reproductiontype" value="0" /> <!--0=Mitosis,1=Asexual,2=Sexual-->
  </appSettings>
<connectionStrings><add name="EvolutionEntities" connectionString="metadata=res://*/evolucion.csdl|res://*/evolucion.ssdl|res://*/evolucion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\data.mdf;integrated security=True;connect timeout=30;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>